@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(../img/2.png); 
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #ffffff10;
    backdrop-filter: blur(15px);
    box-shadow: 0px 15px 35px -5px rgb(50 88 130 / 32%);
    border-radius:8px;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.nav-bar
{
    color: white ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    height: 40px;
}
.nav-list
{
    display: none;
}
.nav-list .list-item
{
    display: block;
    padding: 10px;
    border-top: 1px solid white;
}
.nav-bar a
{
    color: white;
    text-decoration: none;
}
.nav-bar a:hover{
    color: #000;
}
ul.nav-list li a,
ul.fill li a
{
    position: relative;
}
ul.nav-list li a:after,
ul.fill li a:after
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #000;
    height: 1px;
}
ul.nav-list li a:hover:after
{
    width: 100%;
}
ul.fill li a
{
    transition: all 2s;
}
ul.fill li a:after
{
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
ul.fill li a:hover
{
    color: #fff;
    z-index: 1;
}
ul.fill li a:hover:after
{
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}
.logo
{
    height: 40px;
    transform: scale(1.8);
}
.menu
{
    display: none;
}
.menu-line
{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}
.active
{
    display: block;
}
@media all and (max-width: 480px)
{
    .nav-bar
    {
        flex-direction: column;
    }
    .menu
    {
        display: block;
        position: absolute;
        right: 40px;
        top: 40px;
    }
    .nav-list
    {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    .banner
    {
        padding: 55px;
        padding-top: 70px;
    }
}
@media all and (min-width:481px)
{
    .logo
    {
        margin-top: 40px;
    }
    .nav-list
    {
        display: flex;
    }
    .nav-list .list-item
    {
        margin-top: 26px;
        padding: 8px;
        border-top: 0;
    }
    .banner
    {
        padding: 100px;
    }
}
.footer{
    font-family: 'Poppins', sans-serif;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	padding: 55px 50px;

}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* left */

.footer .footer-left{
	width: 40%;
}

/* link */

.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Right */

.footerd .footer-right{
	width: 20%;
}

.footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}
